body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.maintitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}